{% extends 'base.html.twig' %}

{% block title %}User Home Page{% endblock %}

{% block body %}

<div class="example-wrapper">
    <a href="/logout"> LOG OUT </a>
    <h1>User Home Page</h1>



{% endblock %}
